<mat-accordion>
  <mat-expansion-panel  (opened)="updateChart()">
    <mat-expansion-panel-header>
      <div class="flex items-center">
        <mat-icon class="mr-2 text-gray-700">sync_alt</mat-icon>
        <h2 class="text-2xl font-bold text-gray-900">Relátorio</h2>
      </div>
    </mat-expansion-panel-header>

    <div class="bg-gray-150 m-3 p-2">
      <canvas #chartCanvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [plugins]="barChartPlugins">
      </canvas>

    </div>

  </mat-expansion-panel>

</mat-accordion>
