<mat-accordion>
  <mat-expansion-panel (opened)="updateChart()">
    <mat-expansion-panel-header>
      <div class="flex items-center">
        <mat-icon class="mr-2 text-gray-700">sync_alt</mat-icon>
        <h2 class="text-2xl font-bold text-gray-900">Relatório</h2>
      </div>
    </mat-expansion-panel-header>

    <div class="bg-gray-150 m-3 p-2">
      <!-- Abas para alternar entre gráficos -->
      <div class="flex border-b border-gray-200 mb-4">
        <button class="py-2 px-4 mr-2 focus:outline-none border-b-2 border-blue-500 font-medium">
          Gráfico de Barras
        </button>
        <button class="py-2 px-4 focus:outline-none hover:text-blue-500 font-medium">
          Gráfico de Linha
        </button>
      </div>

      <div>
        <canvas #barChart baseChart
                [type]="'bar'"
                [datasets]="barChartData.datasets"
                [labels]="chartLabels"
                [options]="barChartOptions">
        </canvas>
      </div>

      <div >

      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
