<div class="d-flex items-center justify-between px-5">
  <h2 mat-dialog-title>Adicione Categoria</h2>
  <mat-icon fontIcon="close"></mat-icon>
</div>


<mat-dialog-content>
  <form [formGroup]="categoryForm" class="w-full max-w-lg mx-auto">
    <app-form-field
      class="w-full max-w-md mx-auto my-4"
      label="Nome"
      type="text"
      formControlName="name"
      placeholder="Digite o nome da categoria"
      icon="folder"
      [errors]="{
        'required': 'Nome é obrigatório'
      }"
    ></app-form-field>

    <app-form-field
      class="w-full max-w-md mx-auto mb-4"
      label="Descrição"
      type="text"
      formControlName="description"
      placeholder="Digite uma descrição"
      icon="description"
      [errors]="{
        'required': 'Descrição é obrigatória'
      }"
    ></app-form-field>

    <app-form-select
      class="w-full mx-auto max-w-md mb-4"
      label="Ícone"
      formControlName="icon"
      placeholder="Selecione um ícone"
      [options]="iconOptions"
      [errors]="{
        'required': 'O ícone é obrigatório'
      }"
    ></app-form-select>

    <div class="w-full max-w-md mx-auto mb-4 flex items-center">
      <mat-slide-toggle formControlName="isActive">
        Categoria Ativa
      </mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>

<div class="flex justify-between p-4">
  <app-custom-button
    text="Cancelar"
    variant="danger"
    customClasses="w-44 border-0"
    (buttonClick)="cancel()"
    >
  </app-custom-button>
  <app-custom-button
    text="Salvar"
    type="submit"
    customClasses="w-44 border-0"
    variant="success"
    (buttonClick)="save()"
  ></app-custom-button>
</div>
