
<div class="chart-wrapper bg-gray-50 p-4 rounded-lg" style="height: 350px;">
  <div *ngIf="isLoading" class="flex items-center justify-center h-full">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div *ngIf="!isLoading && !hasData" class="flex items-center justify-center h-full">
    <span class="text-gray-500">{{ noDataMessage }}</span>
  </div>

  <div *ngIf="!isLoading && hasData" class="h-full w-full position-relative">
    <canvas
      baseChart
      #chart
      [type]="'pie'"
      [data]="chartData"
      [options]="chartOptions">
    </canvas>
  </div>
</div>
