<div class="container mx-auto px-4 flex items-center justify-center min-h-screen">
  <div class="max-w-4xl mx-auto mt-8 overflow-hidden shadow-2xl rounded-3xl">
    <div class="relative grid lg:grid-cols-2 min-h-[600px]">

      <div class="p-8 w-full transition-transform duration-500 min-w-[300px]"
        [class.translate-x-full]="hideSignupForm"
        >
        <div class="signin" [class.hidden]="hideSignupForm">
          <h1 class="text-2xl font-bold" [class.hidden]="hideSignupForm">Login</h1>

          <div class="hidden md:flex justify-center gap-4 mb-6 social-auth">
            <button mat-icon-button class="social-btn">
              <mat-icon svgIcon="facebook"></mat-icon>
            </button>
            <button mat-icon-button class="social-btn">
              <mat-icon svgIcon="google"></mat-icon>
            </button>
            <button mat-icon-button class="social-btn">
              <mat-icon svgIcon="linkedin"></mat-icon>
            </button>
          </div>

          <p class="text-gray-600 mb-6" [class.hidden]="hideSignupForm">ou use sua conta</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" [class.hidden]="hideSignupForm">
          <app-form-field
            class="w-full max-w-md mx-auto"
            label="Email"
            type="email"
            formControlName="email"
            placeholder="Digite seu email"
            [control]="emailControl"
            icon="email"
            [errors]="{
              'required': 'Email é obrigatório',
              'email': 'Email inválido'
            }"
          ></app-form-field>

          <app-form-field
            class="w-full max-w-md mx-auto"
            label="Senha"
            type="password"
            [control]="passwordControl"
            formControlName="senha"
            placeholder="Digite sua senha"
            [errors]="{
              'required': 'Senha é obrigatória'
            }"
          ></app-form-field>

          <div class="flex justify-center items-center p-4">
            <a class="text-primary-500 hover:underline">
              Esqueceu a senha?
            </a>
          </div>

          <app-custom-button
            text="Entrar"
            type="submit"
            variant="primary"
            [isGradient]="true"
            [customClasses]="'w-full border-0 hover:bg-white mt-3 transition-colors'"
            (buttonClick)="onLogin()"
          ></app-custom-button>

          <!-- Mobile Toggle Button -->
          @if (isMobile) {
            <div class="w-12/12 flex justify-center text-center hover:underline"
                (click)="toggleMode()"
                >
                Não tem uma conta? Cadastre-se
            </div>
          }
        </form>
      </div>

      <!-- Signup Form -->
      <div
        class="absolute top-0 left-0 h-full p-8 bg-white duration-500
        w-full
        sm:w-full
        md:w-full
        lg:w-6/12"
        [class.translate-x-0]="hideSignupForm"
        [class.-translate-x-full]="!hideSignupForm">
        <h1 class="text-2xl font-bold mb-6 text-center">Cadastre-se</h1>
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <app-form-field
            class="w-full max-w-md mx-auto"
            label="Nome"
            type="text"
            formControlName="nome"
            [control]="nameSignupControl"
            placeholder="Digite seu nome"
            icon="person"
            [errors]="{
              'required': 'Nome é obrigatório'
            }"
          ></app-form-field>

          <app-form-field
            class="w-full max-w-md mx-auto"
            label="Email"
            type="email"
            formControlName="email"
            [control]="emailSignupControl"
            placeholder="Digite seu email"
            icon="email"
            [errors]="{
              'required': 'Email é obrigatório',
              'email': 'Email inválido'
            }"
          ></app-form-field>

          <app-form-field
            class="w-full max-w-md mx-auto"
            label="Senha"
            type="password"
            [control]="passwordSignupControl"
            formControlName="senha"
            placeholder="Digite sua senha"
            [errors]="{
              'required': 'Senha é obrigatória',
              'minlength': 'Senha deve ter no mínimo 6 caracteres'
            }"
          ></app-form-field>

          <div class="flex justify-center items-center w-full">
            <app-custom-button

              text="Cadastrar-se"
              type="submit"
              variant="primary"
              [disabled]="isSaving"
              [isGradient]="true"
              [customClasses]="'w-48 border-0 hover:bg-white mt-3 transition-colors'"
            ></app-custom-button>



          </div>

          @if (isMobile) {
            <div class="w-12/12 flex justify-center text-center text-yellow-500 hover:underline"
                (click)="toggleMode()"
              >
                Já tem uma conta? Faça login
            </div>
          }
        </form>
      </div>

      @if (!isMobile) {
        <div class="lg:flex bg-gradient-to-r from-yellow-400 to-yellow-500 p-8 text-white flex-col justify-center items-center text-center">
          <h1 class="text-3xl font-bold mb-4 transition-opacity duration-300"
              [class.opacity-0]="isTransitioning">
            {{hideSignupForm ? "Olá, amigo!" : "Bem vindo de volta"}}
          </h1>
          <p class="mb-8 transition-opacity duration-300"
             [class.opacity-0]="isTransitioning">
            {{!hideSignupForm
              ? "Para se manter conectado conosco, faça login com suas informações pessoais"
              : "Entre com seus dados pessoais e inicie seu gerenciamento conosco"}}
          </p>
          <app-custom-button
            [text]="!hideSignupForm ? 'Registrar-se' : 'Fazer Login'"
            type="button"
             [isGradient]="true"

            [customClasses]="'w-48 border-0 hover:bg-white transition-colors'"
            (buttonClick)="toggleMode()"
          ></app-custom-button>
        </div>
      }
    </div>
  </div>
</div>
