<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <h2 class="font-semibold text-gray-800">Relatórios das Categorias</h2>
    </mat-expansion-panel-header>
<div class="grid grid-cols-1 gap-1 mb-6">
  <div class="p-4 rounded-lg border-1 border-blue-100 border-solid shadow-sm">
    <div class="flex justify-center items-center mb-2">
      <h3 class="font-semibold text-gray-800">Total Geral</h3>
    </div>
    <div class="space-y-2">
      <div class="flex justify-evenly items-center">
        <span class="text-gray-600">Despesas</span>
        <span class="text-red-600 font-medium">
          {{ formatCurrency(generalTotals.expenses) }}
        </span>
      </div>
      <div class="flex justify-evenly items-center">
        <span class="text-gray-600">Receitas</span>
        <span class="text-green-600 font-medium">
          {{ formatCurrency(generalTotals.income) }}
        </span>
      </div>
      <div class="flex justify-evenly items-center pt-2 border-t">
        <span class="font-medium text-gray-600">Saldo</span>
        <span [class]="getBalanceClass(generalTotals.balance)" class="font-semibold">
          {{ formatCurrency(generalTotals.balance) }}
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Totais por Categoria -->
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-1 mb-6">
  <div *ngFor="let category of categories" class="p-4 border-1 border-blue-100 border-solid rounded-lg shadow-sm">
    <div class="flex justify-between   items-center mb-2">
      <h3 class="font-semibold text-gray-800">{{ category.name }}</h3>
    </div>
    <div class="space-y-2">
      <div class="flex justify-between items-center">
        <span class="text-gray-600">Despesas</span>
        <span class="text-red-600 font-medium">
          {{ formatCurrency(categoryTotals[category.name].expenses) }}

        </span>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-gray-600">Receitas</span>
        <span class="text-green-600 font-medium">
          {{ formatCurrency(categoryTotals[category.name].income) }}
        </span>
      </div>
      <div class="flex justify-between items-center pt-2 border-t">
        <span class="font-medium text-gray-600">Saldo</span>
        <span [class]="getBalanceClass(categoryTotals[category.name].balance)" class="font-semibold">
          {{ formatCurrency(categoryTotals[category.name].balance) }}
        </span>
      </div>
    </div>
  </div>
</div>
  </mat-expansion-panel>
</mat-accordion>
